.primary-bg, .btn-primary  {
    background-color: hsl(171, 100%, 41%);
    border: 1px solid hsl(171, 100%, 41%);
    color: #fff;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: hsl(171, 100%, 45%);
    border: 1px solid hsl(171, 100%, 45%);
}

.selected {
    background-color: hsla(171, 100%, 41%, 0.11);
    border: 1px solid hsla(171, 83%, 41%, 0.342);
}

 
.start-0 {
    left: 0% !important;
}

.start-14-28 {
    left: 14.28% !important;
}

.start-28-56 {
    left: 28.56% !important;
}

.start-42-84 {
    left: 42.84% !important;
}

.start-57-12 {
    left: 57.12% !important;
}

.start-71-4 {
    left: 71.4% !important;
}

.start-84-68 {
    left: 85.68% !important;
}

.start-100 {
    left: 100% !important;
}

.pointer {
    cursor: pointer;
}
